* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(circle, #111936, #02030b);
    color: white;
    font-family: Georgia, serif;
}


.stars {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:
    radial-gradient(white 1px, transparent 1px);
    background-size: 40px 40px;
    animation: moveStars 20s linear infinite;
}


@keyframes moveStars {

    from {
        background-position:0 0;
    }

    to {
        background-position:100px 200px;
    }

}



.container {

    position:relative;
    width:100%;
    height:100dvh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:5;

}


button {

    padding:15px 40px;
    border:none;
    border-radius:30px;
    background:white;
    color:#111936;
    font-size:20px;
    cursor:pointer;
    transition:.3s;

}


button:hover {

    transform:scale(1.1);

}



#message {

    margin-top:40px;
    max-width:90%;
    text-align:center;

}



#text {

    font-size:32px;
    font-style:italic;
    line-height:1.5;

}



.constellation {

    margin-top:50px;
    font-size:35px;
    letter-spacing:20px;

}



.hidden {

    display:none;

}



.shooting-star {

    position: fixed;
    top: -100px;
    left: -100px;
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    box-shadow:
    0 0 10px white,
    0 0 25px white,
    0 0 40px #9ed8ff;

    opacity:0;
    z-index:1;
    pointer-events:none;

}


.shooting-star span {

    position:absolute;
    width:120px;
    height:3px;
    right:8px;
    top:3px;

    background:linear-gradient(
        90deg,
        transparent,
        white
    );

    transform-origin:right center;

}



.shooting {

    animation:meteor 2s ease-out forwards;

}



@keyframes meteor {


0%{

    transform:
    translate(0,0)
    rotate(45deg);

    opacity:0;

}


10%{

    opacity:1;

}


100%{

    transform:
    translate(700px,700px)
    rotate(45deg);

    opacity:0;

}


}





.shooting {

    animation:shoot 2s ease forwards;

}



@keyframes shoot {

    0%{
        left:-200px;
        opacity:0;
    }


    30%{
        opacity:1;
    }


    100%{

        left:120%;
        top:70%;
        opacity:0;

    }

}




@media(max-width:600px){

    #text{

        font-size:24px;

    }


    button{

        font-size:18px;

    }

}
.falling-star {

    position:absolute;
    top:-20px;
    width:3px;
    height:3px;
    background:white;
    border-radius:50%;
    animation:fall 4s linear infinite;
    z-index:3;

}


@keyframes fall {

    0%{

        transform:translateY(0);
        opacity:0;

    }


    20%{

        opacity:1;

    }


    100%{

        transform:translateY(100vh);
        opacity:0;

    }

}
